/SDK/VST/pluginterfaces
/SDK/VST/public.sdk
/SDK/VST/vstgui.sf
/SDK/VST/vstgui4
/SDK/VST/base
/SDK/VST/bin
/SDK/VST/doc
/SDK/JuceModules/juce_audio_basics
/SDK/JuceModules/juce_audio_devices
/SDK/JuceModules/juce_audio_formats
/SDK/JuceModules/juce_audio_plugin_client
/SDK/JuceModules/juce_audio_processors
/SDK/JuceModules/juce_audio_utils
/SDK/JuceModules/juce_box2d
/SDK/JuceModules/juce_core
/SDK/JuceModules/juce_cryptography
/SDK/JuceModules/juce_data_structures
/SDK/JuceModules/juce_events
/SDK/JuceModules/juce_graphics
/SDK/JuceModules/juce_gui_basics
/SDK/JuceModules/juce_gui_extra
/SDK/JuceModules/juce_opengl
/SDK/JuceModules/juce_osc
/SDK/JuceModules/juce_tracktion_marketplace
/SDK/JuceModules/juce_video
/SDK/JuceModules/JUCE Module Format.txt
/SDK/AAX/Extensions
/SDK/AAX/Interfaces
/SDK/AAX/Libs
/SDK/AAX/TI
/SDK/AAX/Utilities
/SDK/AAX/Documentation
/SDK/AAX/ExamplePlugIns
/SDK/AAX/docs.html
/SDK/AAX/ReadMe.txt
/SDK/VST/index.html
/Builds/VisualStudio2015/*.sdf
/Builds/VisualStudio2015/Debug
/Builds/VisualStudio2015/obj
/Builds/VisualStudio2015/DTAR_08E86330_4835_4B5C_9E5A_61F37AE1A077_DTAR
/Builds/VisualStudio2015/*.user
/Builds/VisualStudio2015/supersynth.VC.opendb
